
.form_error {width: 500px;color: #ff0000;font:700 11px 'Bitter', serif;float: left;display: inline;margin-top:-10px;}
.form_error span {width: auto;margin-left: 6px;padding-left: 5px;border-left: none;}
